# IDE
.idea
.vscode
.DS_Store

# Output of the go covetage tool
*.out

# Test binary `go test -c`
*.test
!.env.test

# docker tmp files
build/docker/.env

.git
bin/*

tmp/*
!tmp/.keep

.tmp/*
!.tmp/.keep
